$color-primary: #0285E4;
$color-secondary: #F3CD03;
$color-secondary-blue: #112D57;
$color-first-text: #000;
$color-light-text: #fff;
$color-second-text: #5C5C5C;
$color-dark-background: #0285E4;
$color-light-background: #fff;
$color-mute-background: #E1F1FD;